.aboutHeaderImageContainer {
    height: 100vh;
    background-image: url('/images/ets2_20210106_204019_00.png');
    background-position: 72% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: var(--contentSpace);
}
.aboutHeaderTextContainer {
    position: absolute;
    color: var(--secondaryWhite);
    font-size: 22px;
    top: 18%;
    right: 6%;
    text-align: right;
}
.aboutInfoContainer {
    margin: auto;
}
.aboutTextContainer {
    margin-bottom: var(--contentSpace);
    padding: 20px;
}
.aboutText {
    padding: 20px;
    margin: auto;
}
.aboutText h1 {
    font-weight: var(--fontWeightPrimary);
    text-align: left;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--secondaryWhite);
}
.aboutText p {
    font-weight: var(--fontWeightSecondary);
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
}
.aboutImg {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}
.roadMapContainer {
    width: 100%;
    margin-bottom: var(--contentSpace);
    margin-top: var(--contentSpace);
}
.roadMap {
    width: 100%;
    height: 250px;
}
.roadMapTitleContainer {
    text-align: center;
    padding-bottom: 60px;
}

/* Team member icons */
.team {
    width: 100%;
    margin: auto;
    height: fit-content;
}
.memberIconSection {
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.teamHeader {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--secondaryWhite);
    font-weight: var(--fontWeightPrimary);
}
.teamMemberText {
    padding: 20px;
}
.memberIcon {
    margin: auto;
    width: 150px;
    text-align: center;
    height: 280px;
}
.memberImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.memberDetails h2 {
    font-weight: var(--fontWeightPrimary);
    
}
.memberDetails p {
    font-weight: var(--fontWeightSecondary);
    font-size: var(--fontSize);
    color: var(--secondaryWhite);
}
.bottomImgAbout {
    display: none;
}
@media only screen and (min-width: 600px) {
    .aboutHeaderTextContainer {
        font-size: 200%;
        left: 8%;
        right: auto;
    }
    .aboutText h1 {
        width: 60%;
    }
    .aboutImg {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 5%;
        height: 400px;
    }
    .aboutHeaderImageContainer {
        transform: translateX(0%);
    }
    .aboutTextContainer {
        width: 90%;
        margin: auto 50px auto auto;
    }
}
@media only screen and (min-width: 769px) {
    .aboutHeaderImageContainer {
        background-position: 90% 0%;
    }
    .aboutText {
        padding: 30px;
    }
    .roadMapContainer {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .roadMap {
        height: 100%;
        width: 70%;
        margin-left: 4%;
    }
    .roadMapTitleContainer  {
        margin-left: 20px;
        width: 26%;
        text-align: left;
    }

    .memberIcon {
        width: 200px;
        text-align: center;
    }
    .memberImage {
        width: 140px;
        height: 140px;
    } 
}
@media only screen and (min-width: 992px) {
    .roadMapTitleContainer {
        width: 18%;
        font-size: 20px;
    }
    .aboutTextContainer {
        display: flex;
    }
    .aboutText {
        width: 50%;
        /* padding: 60px; */
    }
    .aboutImg {
        width: 50%;
        margin: auto auto auto;
        height: 600px;
    }
}
@media only screen and (min-width: 1200px) {
    .aboutHeaderTextContainer {
        top: 42%;
        left: 4%;
    }
    .aboutHeaderTextContainer h1 {
        font-size: 240%;
    }
    .roadMapTitleContainer {
        margin-left: auto;
        margin-right: auto;
        font-size: 150%;
    }
    .aboutTextContainer {
        padding: 40px 0 40px 40px;
    }
    .aboutText {
        width: 40%;
    }
    .aboutImg {
        width: 60%;
    }
}
@media only screen and (min-width: 1500px) {
    .roadMapTitleContainer {
        margin-top: 6%;
    }
}